@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Redressed&family=Shizuru&display=swap');

html {
    height: 1360px;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

body {
    margin: 0%;
    position: relative;
}

#header{
    text-align: center;
}

ul {
    list-style: none;
    margin: 0%;
    padding: 0%;
}

.title {
    z-index: 3;
    font-family: 'Gideon Roman', cursive;
    mix-blend-mode: difference;
    color: white;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.title li {
    font-family: 'Shizuru', cursive;
}

.title a {
    color: white;
    mix-blend-mode: difference;
    text-decoration: none;
}

.title ul{
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}

#main {
    display: relative;
}

/* style settings for the black left side */
.black {
    z-index: 2;
    color: white;
    background-color: black;
    margin-top: 0%;
    height: 100%;
    width: 50%;
    position: fixed;
}

/* style settings for the white right side */
.white {
    z-index: 2;
    color: black;
    background-color: white;
    margin-top: 0%;
    margin-left: 50%;
    margin-top: 0%;
    height: 100%;
    width: 50%;
    position: fixed;
}

/* video thumbnail */
.video {
    z-index: 3;
    margin-top: 300px;
    left: 50%; 
    transform: translate(-50%,0); 
    position: absolute;
}
.video img {
    width: 400px;
    filter: drop-shadow(2px 2px 4px #888888);
}

/* style setting for black timeline ball */
.dotB {
    z-index: 4;
    height: 25px;
    width: 25px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
/* style setting for white timeline ball */
.dotW {
    z-index: 4;
    height: 25px;
    width: 25px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
/* style setting for black timeline */
.timelineB {
    z-index: 3;
    border-left: 6px solid white;
    height: 800px;
    width: 6px;
    bottom: 0;
    top: 300px;
    left: 25%; 
    transform: translate(-50%,0); 
    position: absolute;
    color: white;
    mix-blend-mode: difference;
    margin-left: 2.5px;
}
/* churchill picture settings */
.churchill {
    z-index: 4;
    border-left: 20px solid white;
    height: 5px;
    width: 10px;
    bottom: 0;
    top: 200px;
    left: 25%; 
    transform: translate(-50%,0); 
    position: absolute;
    color: white;
    margin-left: 1px;
}
.content1 img{
    position: absolute;
    width: 130px;
    top: 90px;
    margin-left: -170px;
    transform: translate(-50%,0); 
    opacity: 0.5;
}
/* MLK picture settings */
.martin {
    z-index: 4;
    border-left: 20px solid white;
    height: 5px;
    width: 10px;
    bottom: 0;
    top: 350px;
    left: 25%; 
    transform: translate(-50%,0); 
    position: absolute;
    color: white;
    margin-left: 1px;
}
.content2 img{
    position: absolute;
    width: 130px;
    top: 330px;
    margin-left: 150px;
    transform: translate(-50%,0); 
    opacity: 0.5;
}
/* Obama picture settings */
.obama {
    z-index: 4;
    border-left: 20px solid white;
    height: 5px;
    width: 10px;
    bottom: 0;
    top: 600px;
    left: 25%; 
    transform: translate(-50%,0); 
    position: absolute;
    color: white;
    margin-left: 1px;
}
.content3 img{
    position: absolute;
    width: 130px;
    top: 550px;
    margin-left: -170px;
    transform: translate(-50%,0); 
        opacity: 0.5;
}

/* White timeline settings */
.timelineW {
    z-index: 3;
    border-left: 6px solid white;
    height: 800px;
    width: 6px;
    bottom: 0;
    top: 300px;
    left: 75%; 
    transform: translate(-50%,0); 
    position: absolute;
    color: black;
    mix-blend-mode: difference;
    margin-left: 2.5px;
}
/* Kim Kardashian picture settings */
.kimk {
    z-index: 4;
    border-left: 20px solid white;
    height: 5px;
    width: 10px;
    bottom: 0;
    top: 200px;
    left: 25%; 
    transform: translate(-50%,0); 
    position: absolute;
    color: white;
    margin-left: 1px;
    mix-blend-mode: normal;
}
.content4 img{
    position: absolute;
    width: 130px;
    top: 90px;
    margin-left: 150px;
    transform: translate(-50%,0); 
    opacity: 0.5;
}
/* Six9ine picture settings */
.tekashi {
    z-index: 4;
    border-left: 20px solid white;
    height: 5px;
    width: 10px;
    bottom: 0;
    top: 350px;
    left: 25%; 
    transform: translate(-50%,0); 
    position: absolute;
    color: black;
    margin-left: 1px;
}
.content5 img{
    position: absolute;
    width: 130px;
    top: 330px;
    margin-left: -170px;
    transform: translate(-50%,0); 
    opacity: 0.5;
}

/* Logan Paul picture settings */
.logan {
    z-index: 4;
    border-left: 20px solid white;
    height: 5px;
    width: 10px;
    bottom: 0;
    top: 600px;
    left: 25%; 
    transform: translate(-50%,0); 
    position: absolute;
    color: black;
    margin-left: 1px;
}
.content6 img{
    position: absolute;
    width: 130px;
    top: 550px;
    margin-left: 150px;
    transform: translate(-50%,0); 
        opacity: 0.5;
}

/* Footer settings */
.footer {
    z-index: 5;
    width: 100%;
    margin-left: 50%;
    transform: translate(-50%,0); 
    background-color: gray;
    position: fixed;
    bottom: 0;
}

/* Actor page settings */
.nathan {
    line-height: 40px;
    font-family: 'Redressed', cursive;
    color: white;
    z-index: 5;
    width: 400px;
    left: 10%;
    margin-top: 300px;
    position: absolute;
    display: inline-block;
}
.nathan img {
    max-width: 100%;
    max-height: 100%;
}

.nick {
    line-height: 40px;
    font-family: 'Redressed', cursive;
    z-index: 5;
    width: 400px;
    right: 10%;
    margin-top: 300px;
    position: absolute;
    display: inline-block;
}
.nick img {
    max-width: 100%;
    max-height: 100%;
}

/* inspiration and review page settings */
.inspo {
    font-family: 'Redressed', cursive;
    z-index: 5;
    text-align: center;
    line-height: 60px;
    mix-blend-mode: difference;
    color: white;
    transform: translate(-50%,0); 
    margin: 50%;
    width: 80%;
    margin-top: 300px;
    position: absolute;
    display: inline-block;
}